In [1]:
"database is an organised collection of structered information,or data ,typically store in computer "

'database is an organised collection of structered information,or data ,typically store in computer '

In [2]:
"sql= structed query language , nosql=not only structed query language"

'sql= structed query language , nosql=not only structed query language'

In [6]:
"difference between sql and nosql are: sql are relational and nosql are non relational"
"sql are save structed data and nosql save unstructed data as wlll as structed data"

'sql are save structed data and nosql save unstructed data as wlll as structed data'

In [7]:
"dml= (data manipulation language) this is a computer  language  including comandes which premiting the data into the data base and in this involes insert a data in the table and upgarde a data and delte the data dorm the data base and table"

'dml= (data manipulation language) this is a computer  language  including comandes which premiting the data into the data base and in this involes insert a data in the table and upgarde a data and delte the data dorm the data base and table'

In [8]:
import mysql.connector


mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("insert into test.test_table values( 23, 'parth', 6.4,  'raju')")
mydb.commit()
mydb.close()

ModuleNotFoundError: No module named 'mysql'

In [9]:
"DQL=data query langauge this allows a data to get and organise data from a data base"

'DQL=data query langauge this allows a data to get and organise data from a data base'

In [11]:
#python code to connect MySQL to python.

import mysql.connector


mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

ModuleNotFoundError: No module named 'mysql'

In [12]:
"mycusor jo hota h woh data ko search karta or table me jo bhi data hota use waha pe har jagh cursor jata h or check karta h"

'mycusor jo hota h woh data ko search karta or table me jo bhi data hota use waha pe har jagh cursor jata h or check karta h'

In [13]:
"my excute wohb hota jise hm seach karte or phir jo data hota h database me or table me use print karta h or my cusor phele waha jake chek karta h print excute kara deta h "

'my excute wohb hota jise hm seach karte or phir jo data hota h database me or table me use print karta h or my cusor phele waha jake chek karta h print excute kara deta h '